<div class="sidebar-nav">
    <div style="text-align: center" *ngIf="menuLoading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" *ngFor="let menu of menus">
            <div class="panel-heading" role="tab" id="{{'heading'+menu.id}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#'+menu.id}}"
                       aria-expanded="true" aria-controls="collapseOne">
                        {{menu.title}}
                    </a>
                </h4>
            </div>
            <div id="{{menu.id}}" class="panel-collapse collapse" [ngClass]="{'in': isTabOpen===menu.tabNo}"
                 role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}"
                             *ngFor="let menuItem of menu.menuItem">
                            <arms-menu-item [id]="menuItem.id" [icon]="menuItem.icon" [title]="menuItem.title"
                                            [direction]="menuItem.direction" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>