<div class="sidebar-nav">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Registrasi
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <arms-menu-item [icon]="'fa-archive'" [title]="'Registrasi Box'"
                                            [direction]="'/boxRegistration'"></arms-menu-item>
                        </div>
                        <div class="col-sm-6">
                            <arms-menu-item [icon]="'fa-tags'" [title]="'Registrasi Dokumen'"
                                            [direction]="'/documentRegistration'"></arms-menu-item>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pengiriman Box
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <arms-menu-item [icon]="'fa-level-up'" [title]="'Pick Up Box'"
                                            [direction]="'/checkIn'"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Informasi
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <arms-menu-item [icon]="'fa-binoculars'" [title]="'Pencarian Dokumen'"
                                            [direction]="'/checkOut'"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Pengembalian
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingFour">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <arms-menu-item [icon]="'fa-level-down'" [title]="'Pengembalian Dokumen'"
                                            [direction]="'/checkOut'"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>