<div class="sidebar-nav">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Registrasi
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" [ngClass]="{'in': isTabOpen===1}" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body" style="text-align: center">
                    <div class="row">
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'registrasiBox'" [icon]="'fa-archive'" [title]="'Registrasi Box'"
                                            [direction]="'/boxRegistration'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'registrasiArsip'" [icon]="'fa-tags'" [title]="'Registrasi Arsip'"
                                            [direction]="'/documentRegistration'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'persetujuanRegistrasiArsip'" [icon]="'fa-thumbs-o-up'"
                                            [title]="'Persetujuan Registrasi Arsip'"
                                            [direction]="'/documentRegistration/approval'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pengiriman Box
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" [ngClass]="{'in': isTabOpen===2}" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'pickupBox'" [icon]="'fa-level-up'" [title]="'Pick Up Box'"
                                            [direction]="'/checkIn'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'persetujuanPickupBox'" [icon]="'fa-thumbs-o-up'"
                                            [title]="'Persetujuan Pick Up Box'"
                                            [direction]="'/checkIn/approval'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Informasi
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" [ngClass]="{'in': isTabOpen===3}" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'pencarianArsip'" [icon]="'fa-binoculars'" [title]="'Pencarian Arsip'"
                                            [direction]="'/documentRegistration/search'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Pengembalian
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" [ngClass]="{'in': isTabOpen===4}" role="tabpanel"
                 aria-labelledby="headingFour">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" [ngClass]="{'col-md-2': isWelcome,'col-md-6':!isWelcome}">
                            <arms-menu-item [id]="'pengembalianArsip'" [icon]="'fa-level-down'"
                                            [title]="'Pengembalian Arsip'"
                                            [direction]="'/checkOut'" [activeMenu]="activeMenu"></arms-menu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>