<div class="arms-bg">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img class="logo_btpn_login" src="../../../public/images/logo_btpn_login.png">
            <div class="arms-title">SQUARE DARE <span class="sqr-dare-ver">v1.0.0</span></div>
            <p class="arms-subtitle">Square Dare is an appplication for maintaining box of documents,
                monitoring document transaction,and searching document in BTPN Branch</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <form [formGroup]="loginForm">
                <div class="panel panel-default">
                    <img class="img-lock" src="../../../public/images/img-lock.png">
                    <div class="panel-body login-panel">
                        <arms-alert-notification [message]="'invalidLogin' | translate"
                                                 *ngIf="error"></arms-alert-notification>
                        <div class="form-group">
                            <label for="userId">{{'userName'|translate}}</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input id="userId" #userNameInput type="text" class="form-control"
                                       formControlName="un">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">{{'password'|translate}}</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input id="userPassword" type="password" class="form-control" formControlName="pw">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button (click)="doLogin()"
                                        class="btn btn-default button-login">
                                    <i class="fa fa-sign-in" *ngIf="!loading"></i>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    {{'login'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="position: fixed; bottom: 5px; right: 20px; font-size: 10px;margin-top: 20px;">
    All Rights Reserved. <i class="fa fa-copyright"></i>2017 By <strong>Square Techno Indonesia</strong>
</div>