<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="menuTab" [activeMenu]="menuId"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3><i class="fa fa-1x {{icon}}"></i> <span>{{menuId|translate}}</span></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label>Tanggal</label>
                    <arms-datepicker #borrowDate (selectedDate)="doGetBorrowDate($event)"
                                     [id]="'borrowDate'"></arms-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>PIC : Agus</div>
                                <div>Telp : 08144445566</div>
                                <div>Email : ar@gmail.com</div>
                            </div>
                            <div class="col-sm-6">
                                <div>Unit Kerja : Cabang Jakarta Utara I</div>
                                <div>Alamat : Jl. Gunung Sahari no 131 A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label>ID Box</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="idBoxSearch">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button" (click)="doChooseLocation()">
                                {{'search'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <h5>Box Yang Dikelola</h5>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let item of listBox" class="list-group-item">
                                    <span class="pull-right" style="margin-top: -5px">
                                        <a class="btn btn-link" (click)="doSend(item)">Kirim</a>
                                    </span>
                                    {{item}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Box Yang Akan Dipinjam</h5>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-group" *ngIf="listBoxToBeBorrow.length>0">
                                <li *ngFor="let item of listBoxToBeBorrow" class="list-group-item">
                                    <span class="pull-right" style="margin-top: -5px">
                                        <a class="btn btn-link" (click)="doCancelSend(item)">Batal</a>
                                    </span>
                                    {{item}}
                                </li>
                            </ul>
                            <ul class="list-group" *ngIf="listBoxToBeBorrow.length==0">
                                <li class="list-group-item">
                                    {{'noRecord' | translate}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: right;">
                <button type="button" class="btn btn-warning large-button" (click)="doSubmitApproval()">
                    <i class="fa fa-check"></i>
                    {{'submitApproval'|translate}}
                </button>
            </div>
        </div>
    </div>
</arms-module-container>