<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="2" [activeMenu]="'persetujuanPickupBox'"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3>{{'checkInApproval'|translate}}</h3>
        </div>
        <div style="height: 350px; overflow: auto;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>ID Box</th>
                    <th>ID Dokumen</th>
                    <th>Status</th>
                    <th>Tipe Dokumen</th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="!listDocumentRegistrations || (listDocumentRegistrations && listDocumentRegistrations.length===0)">
                <tr>
                    <td colspan="6">{{'noDataFound'|translate}}</td>
                </tr>
                </tbody>
                <tbody>
                <tr *ngFor="let doc of listDocumentRegistrations;let i =index;">
                    <td></td>
                    <td>{{doc.idBox}}</td>
                    <td>{{doc.idDocument}}</td>
                    <td>{{doc.status}}</td>
                    <td>{{doc.documentType}}</td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                                title="{{'viewDetailDoc'|translate}}"><i class="fa fa-th-list" aria-hidden="true"
                                                                         (click)="doView(doc)"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <arms-pagination
                    *ngIf="listDocumentRegistrations || (listDocumentRegistrations && listDocumentRegistrations.length>0)"
                    [totalPage]="19"></arms-pagination>
        </div>

    </div>
</arms-module-container>
<arms-view-modal #viewModal [title]="'infoRegistration'|translate">
    <ul class="list-group" *ngIf="armsDocument">
        <li class="list-group-item">
            <span class="badge">{{armsDocument.idBox}}</span>
            {{'idBox'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.idDocument}}</span>
            {{'idDocument'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.documentType}}</span>
            {{'documentType'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.sheetNo}}</span>
            {{'sheetNo'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.startValidDate | dateFormat}}</span>
            {{'startValidDate'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.endValidDate | dateFormat}}</span>
            {{'endValidDate'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.documentNo}}</span>
            {{'documentNo'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.documentName}}</span>
            {{'documentName'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.description}}</span>
            {{'description'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.keyword}}</span>
            {{'keyword'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{armsDocument.workingUnit}}</span>
            {{'workingUnit'|translate}}
        </li>

    </ul>
</arms-view-modal>