.pagination {
  margin-top: 0px !important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  background-color: $btpn-orange-color !important;
  color: $white !important;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  background-color: $btpn-orange-color !important;
  color: $white !important;
}

.pagination > li:last-child:hover > a, .pagination > li:last-child > span {
  background-color: #5f5f5f !important;
  color: $white !important;
}

.pagination-sm > li:first-child:hover > a, .pagination-sm > li:first-child > span {
  background-color: #5f5f5f !important;
  color: $white !important;
}

li.paging {
  cursor: pointer;
}