<div id="{{id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registrasi Dokumen</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Informasi</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="documentId">Dokumen Id</label>
                                        <input type="text" class="form-control" name="docId" id="documentId" placeholder="" [(ngModel)]="docId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="documentNo">Nomor Dokumen</label>
                                        <input type="text" class="form-control" name="docNo" id="documentNo" placeholder="" [(ngModel)]="docNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="documentName">Nama Dokumen</label>
                                        <input type="text" class="form-control" name="docName" id="documentName" placeholder="" [(ngModel)]="docName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="documentDescription">Deskripsi</label>
                                        <textarea class="form-control" id="documentDescription"
                                                  placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="keyword">Kata Kunci</label>
                                        <textarea class="form-control" id="keyword" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="pic">PIC</label>
                                        <input type="text" class="form-control" id="pic" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="workingUnit">Unit Kerja</label>
                                        <input type="text" class="form-control" id="workingUnit" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Lokasi Simpan</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="locationCode">Internal/Vendor</label>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" style="width: 100%" type="button"
                                                    id="dropdownMenu1"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                Pilih salah satu
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu"  style="width: 100%" aria-labelledby="dropdownMenu1">
                                                <li><a href="#">Internal</a></li>
                                                <li><a href="#">Vendor</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="locationCode">Kode Lokasi</label>
                                        <input type="text" class="form-control" id="locationCode" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="boxNo">Nomor Box</label>
                                        <input type="text" class="form-control" id="boxNo" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" (click)="onAddDocumentRegistration()">Simpan</button>
            </div>
        </div>
    </div>
</div>