<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-alert #alertError [title]="'invalidRegistration' | translate" [contentInfos]="errorInfo"></arms-alert>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="1" [activeMenu]="'registrasiBox'"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3>{{'depositBoxRegistration'|translate}}</h3>
        </div>
        <div style="margin-bottom: 250px">
            <form [formGroup]="boxRegistrationFormGroup" style="margin-bottom: 20px;">
                <div class="form-group form-group-sm">
                    <label for="idBox">{{'idBox'|translate}}</label>
                    <input type="text" class="form-control" id="idBox" formControlName="idBox" readonly>
                </div>
                <div class="form-group form-group-sm">
                    <label for="workingUnit">{{'workingUnit'|translate}}</label>
                    <input type="text" class="form-control" id="workingUnit" formControlName="workingUnit" readonly>
                </div>
                <div class="form-group form-group-sm">
                    <label for="boxDesc">{{'boxDescription'|translate}}</label>
                    <input type="text" class="form-control" formControlName="boxDescription" id="boxDesc">
                </div>
                <div class="form-group form-group-sm">
                    <label for="boxDesc">{{'boxSize'|translate}}</label>
                    <div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" formControlName="boxSize" id="optBoxSize1" value="S" checked>
                                {{'small'|translate}}
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" formControlName="boxSize" id="optBoxSize2" value="M">
                                {{'medium'|translate}}
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" formControlName="boxSize" id="optBoxSize3" value="L">
                                {{'large'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="boxDesc">{{'depositType'|translate}}</label>
                    <div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" formControlName="depositType" id="optDepositType1" value="Internal"
                                       checked>
                                {{'internal'|translate}}
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" formControlName="depositType" id="optDepositType2" value="Vendor">
                                {{'vendor'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm" *ngIf="isVendorLocationNeeded">
                    <label for="depositLocation">{{'depositLocation'|translate}}</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button" (click)="doChooseLocation()">
                                {{'choose'|translate}}
                            </button>
                        </div>
                        <input type="text" class="form-control" id="depositLocation" readonly>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="depositRoom">{{'depositRoom'|translate}}</label>
                    <input type="text" class="form-control" formControlName="depositRoom" id="depositRoom">
                </div>
                <div class="form-group form-group-sm">
                    <label for="depositShelf">{{'depositShelf'|translate}}</label>
                    <input type="text" class="form-control" formControlName="depositShelf" id="depositShelf">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label>{{'startValidDate'|translate}}</label>
                            <arms-datepicker #startValidDate (selectedDate)="doGetStartDate($event)"
                                             [id]="'startValidDate'"></arms-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label>{{'endValidDate'|translate}}</label>
                            <arms-datepicker #endValidDate (selectedDate)="doGetEndDate($event)"
                                             [id]="'endValidDate'"></arms-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary small-button btn-sm" (click)="doSave()">
                            {{'save'|translate}}
                        </button>
                        <button type="button" class="btn btn-default small-button btn-sm" (click)="doReset()">
                            {{'reset'|translate}}
                        </button>
                    </div>
                </div>
            </form>
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height: 300px; overflow: auto;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID Box</th>
                                    <th>Deskripsi Box</th>
                                    <th>Tipe Penyimpanan</th>
                                    <th>Lokasi Penyimpanan</th>
                                    <th>Periode</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody *ngIf="!listBoxRegistrations || (listBoxRegistrations && listBoxRegistrations.length===0)">
                                <tr>
                                    <td colspan="7">{{'noDataFound'|translate}}</td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr *ngFor="let box of listBoxRegistrations;let i =index;">
                                    <td></td>
                                    <td>{{box.idBox}}</td>
                                    <!--<td>{{box.workingUnit}}</td>-->
                                    <td>{{box.boxDescription}}</td>
                                    <!--<td>{{box.boxSize}}</td>-->
                                    <td>{{box.depositType}}</td>
                                    <td>{{box.depositLocation}}</td>
                                    <!--<td>{{box.depositRoom}}</td>-->
                                    <!--<td>{{box.depositShelf}}</td>-->
                                    <td>{{box.startValidDate | dateFormat}}-{{box.endValidDate | dateFormat}}</td>
                                    <td>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'viewDetailBox'|translate}}" (click)="doView(box)">
                                            <i class="fa fa-th-list"></i> {{'view'|translate}}
                                        </button>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'updateBox'|translate}}" (click)="doUpdate(box)">
                                            <i class="fa fa-pencil-square-o"></i> {{'update'|translate}}
                                        </button>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'deleteBox'|translate}}" (click)="doDelete(box)">
                                            <i class="fa fa-times"></i> {{'delete'|translate}}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <arms-pagination *ngIf="listBoxRegistrations || (listBoxRegistrations && listBoxRegistrations.length>0)"
                             [totalPage]="19"></arms-pagination>
        </div>
    </div>
</arms-module-container>


<arms-view-modal #viewModal [title]="'infoRegistration'|translate">
    <ul class="list-group" *ngIf="box">
        <li class="list-group-item">
            <span class="badge">{{box.idBox}}</span>
            {{'idBox'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.workingUnit}}</span>
            {{'workingUnit'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.boxDescription}}</span>
            {{'boxDescription'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.boxSize}}</span>
            {{'boxSize'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.depositType}}</span>
            {{'depositType'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.depositLocation}}</span>
            {{'depositLocation'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.depositShelf}}</span>
            {{'depositShelf'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.startValidDate | dateFormat}}</span>
            {{'startValidDate'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{box.endValidDate | dateFormat}}</span>
            {{'endValidDate'|translate}}
        </li>
    </ul>
</arms-view-modal>