<div class="page-header">
    <h3>Registrasi Box Deposit</h3>
</div>
<div style="margin-bottom: 250px">
    <form [formGroup]="boxRegistrationFormGroup">
        <div class="form-group">
            <label for="idBox">ID Box</label>
            <input type="text" class="form-control" id="idBox" formControlName="idBox">
        </div>
        <div class="form-group">
            <label for="workingUnit">Unit Kerja</label>
            <input type="text" class="form-control" id="workingUnit" readonly>
        </div>
        <div class="form-group">
            <label for="boxDesc">Deskripsi Box</label>
            <input type="text" class="form-control" formControlName="boxDescription" id="boxDesc">
        </div>
        <div class="form-group">
            <label for="boxDesc">Ukuran Box</label>
            <div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" formControlName="boxSize" id="optBoxSize1" value="S" checked>
                        Kecil
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" formControlName="boxSize" id="optBoxSize2" value="M">
                        Sedang
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" formControlName="boxSize" id="optBoxSize3" value="L">
                        Besar
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="boxDesc">Tipe Penyimpanan</label>
            <div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" formControlName="depositType" id="optDepositType1" value="I" checked>
                        Internal
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" formControlName="depositType" id="optDepositType2" value="V">
                        Vendor
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="depositLocation">Lokasi Penyimpanan</label>
            <div class="input-group">
                <input type="text" class="form-control" id="depositLocation" readonly>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">Pilih</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="depositRoom">Ruang Penyimpanan</label>
            <input type="text" class="form-control" formControlName="depositRoom" id="depositRoom">
        </div>
        <div class="form-group">
            <label for="depositShelf">Rak Penyimpanan</label>
            <input type="text" class="form-control" formControlName="depositShelf" id="depositShelf">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Mulai Tanggal Berlaku</label>
                    <arms-datepicker #startValidDate (selectedDate)="doGetStartDate($event)" [id]="'startValidDate'"></arms-datepicker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Akhir Tanggal berlaku</label>
                    <arms-datepicker #endValidDate (selectedDate)="doGetEndDate($event)" [id]="'endValidDate'"></arms-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" (click)="doSave()">Save</button>
                <button type="button" class="btn btn-default" (click)="doReset()">Reset</button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>ID Box</th>
            <th>Deskripsi Box</th>
            <th>Tipe Penyimpanan</th>
            <th>Lokasi Penyimpanan</th>
            <th>Periode</th>
            <th></th>
        </tr>
        </thead>
        <tbody *ngIf="!listBoxRegistrations">
        <tr>
            <td colspan="7">{{'No Data Found'}}</td>
        </tr>
        </tbody>
        <tbody>
        <tr *ngFor="let box of listBoxRegistrations;let i =index;">
            <td></td>
            <td>{{box.idBox}}</td>
            <!--<td>{{box.workingUnit}}</td>-->
            <td>{{box.boxDescription}}</td>
            <!--<td>{{box.boxSize}}</td>-->
            <td>{{box.depositType}}</td>
            <td>{{box.depositLocation}}</td>
            <!--<td>{{box.depositRoom}}</td>-->
            <!--<td>{{box.depositShelf}}</td>-->
            <td>{{box.startValidDate}}-{{box.endValidDate}}</td>
            <td>
                <button type="button" class="btn btn-link"><i class="fa fa-th-list" aria-hidden="true" (click)="doView(box)"></i></button>
                <button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="doUpdate(box)"></i>
                </button>
                <button type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true" (click)="doDelete(box)"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>