.circleBase {
    border-radius: 50%;
    cursor: pointer;
}

.content {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 90px;
    background: white;
    border: 1px solid gainsboro;
}

.active {
    border: 1px solid gray;
    background: whitesmoke;
}

.content:hover {
    border: 1px solid gray;
    background: whitesmoke;
}

.title-wrapper-active {
    font-weight: bolder;
}

.content:hover ~ .title-wrapper {
    font-weight: bolder;
}

.base-wrapper {
    text-align: center;
    width: 80px;
    margin-bottom: 20px;
}

.title-wrapper {
    margin-top: 7px;
    font-size: 1.2rem;
}
