<nav class="navbar navbar-default navbar-fixed-top navbar-height-default">
    <div class="container-fluid header-frontend">
        <div class="navbar-header">
            <span>
                <a class="navbar-brand" routerLink="/home">
                    <img src="../../../../public/images/logo_btpn_frontend.png" class="logo">
                </a>
                <span class="app-name">{{appName}}</span> <span class="app-version">{{appVersion}}</span>
            </span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li>
                    <i class="fa fa-user-circle-o"></i>
                    <div class="btn-group" style="margin-top: -10px">
                        <span type="button" class="dropdown-toggle btn-user-active" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                            {{activeUser}}
                            ({{activeRole}}) <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="btn btn-link" (click)="doLogout()" href="#"><i
                                    class="fa fa-sign-out" style="line-height: 32px;"></i> {{'logout'}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-md hidden-lg">
    <div class="btn-group" style="margin-left: 15px;margin-bottom:10px">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i> {{activeUser}}
            ({{activeRole}}) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="btn btn-link" (click)="doLogout()" href="#"><i
                    class="fa fa-sign-out" style="line-height: 32px;"></i> {{'logout'}}</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<arms-footer [appName]="appName" [appVersion]="appVersion" [companyProduction]="companyProduction"
             [yearProduction]="yearProduction"></arms-footer>