<nav class="navbar navbar-default navbar-fixed-top" style="height: 30px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <span style="line-height: 50px">
                <a class="navbar-brand" routerLink="/">
                    <img src="../../../public/images/logo-company.png" class="logo">
                </a>
                <span style="font-size: 18px;font-weight: bold">SQUARE DARE</span>
            </span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm" style="margin-right: 10px;margin-top: 5px;">
                <li>
                    <div class="btn-group" style="margin-top: 3px">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle-o"></i> {{activeUser}}
                            ({{activeRole}}) <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="btn btn-link" (click)="doLogout()" href="#"><i
                                    class="fa fa-sign-out" style="line-height: 32px;"></i> {{'logout'}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hidden-md hidden-lg">
    <div class="btn-group" style="margin-left: 15px;margin-bottom:10px">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i> {{activeUser}}
            ({{activeRole}}) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="btn btn-link" (click)="doLogout()" href="#"><i
                    class="fa fa-sign-out" style="line-height: 32px;"></i> {{'logout'}}</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<div style="position: fixed; bottom: 5px; right: 20px; font-size: 10px;margin-top: 10px">
    {{appName}} {{appVersion}} &nbsp;&nbsp;<i class="fa fa-circle" style="font-size: 8px;"></i>&nbsp;&nbsp; All Rights
    Reserved. <i class="fa fa-copyright"></i>2017 By <strong>Square Techno Indonesia</strong>
</div>