<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="menuTab" [activeMenu]="menuId"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3><i class="fa fa-1x {{icon}}"></i> <span>{{menuId|translate}}</span></h3>
        </div>
        <div style="margin-bottom: 250px">
            <form [formGroup]="documentSearchFormGroup" style="margin-bottom: 20px">
                <div class="form-group form-group-sm">
                    <label for="idBox">{{'idBox'|translate}}</label>
                    <input type="text" class="form-control" id="idBox" formControlName="idBox">
                </div>
                <div class="form-group form-group-sm">
                    <label for="idDoc">{{'idDoc'|translate}}</label>
                    <input type="text" class="form-control" id="idDoc" formControlName="idDoc">
                </div>
                <div class="form-group form-group-sm">
                    <label for="documentNo">{{'documentNo'|translate}}</label>
                    <input type="text" class="form-control" id="documentNo" formControlName="documentNo">
                </div>
                <div class="form-group form-group-sm">
                    <label for="documentType">{{'documentType'|translate}}</label>
                    <select class="form-control" id="documentType" formControlName="documentType">
                        <option></option>
                        <option value="dn">Dokumen Nasabah</option>
                        <option value="th">Transaksi Harian/Arsip</option>
                        <option value="fk">File Kredit</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label for="workingUnit">{{'workingUnit'|translate}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="workingUnit" formControlName="workingUnit" readonly>
                        <div class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="button" (click)="doChooseWorkingUnit()">
                                {{'choose'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-warning btn-width-small btn-sm" (click)="doSearch()">
                            <i class="fa fa-search"></i> {{'search'|translate}}
                        </button>
                        <button type="button" class="btn btn-default btn-width-small btn-sm" (click)="doReset()">
                            <i class="fa fa-close"></i> {{'reset'|translate}}
                        </button>
                    </div>
                </div>
            </form>
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height: 300px; overflow: auto;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID Dokumen</th>
                                    <th>No Dokumen</th>
                                    <th>Tipe Dokumen</th>
                                    <th>Unit Kerja</th>
                                    <th>Dipinjam</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody *ngIf="!listDocumentSearch || (listDocumentSearch && listDocumentSearch.length===0)">
                                <tr>
                                    <td colspan="7">{{'noDataFound'|translate}}</td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr *ngFor="let doc of listDocumentSearch;let i =index;">
                                    <td>{{i+1}}</td>
                                    <td>{{doc.idBox}}</td>
                                    <td>{{doc.idDocument}}</td>
                                    <td>{{doc.documentType}}</td>
                                    <td>{{doc.workingUnit}}</td>
                                    <td>
                                        <i class="fa fa-square-o" *ngIf="doc.lendingStatus==='0'"></i>
                                        <i class="fa fa-check-square-o" *ngIf="doc.lendingStatus==='1'"></i>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'viewLendingHistory'|translate}}" (click)="doViewHistory(doc)">
                                            <i class="fa fa-th-list"></i> {{'viewLendingHistory'|translate}}
                                        </button>
                                        <button type="button" class="btn btn-link" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{'lending'|translate}}" (click)="doBorrow(doc)">
                                            <i class="fa fa-pencil-square-o"></i> {{'lending'|translate}}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <arms-pagination
                        *ngIf="listDocumentSearch || (listDocumentSearch && listDocumentSearch.length>0)"
                        [totalPage]="3"></arms-pagination>
            </div>
        </div>
    </div>
</arms-module-container>
<arms-view-modal #historyModal [id]="'historyModal'" [title]="'viewLendingHistory'|translate" [modalSize]="'xl'">
    <div class="well">
        <div class="panel panel-default">
            <div class="panel-body">
                {{'idDoc'|translate}} : {{idDocSelected}}
                <div style="height: 300px; overflow: auto;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Peminjam</th>
                            <th>Unit Kerja</th>
                            <th>Alasan</th>
                            <th>Tanggal Pinjam</th>
                            <th>Tanggal Kembali</th>
                            <th>Lama Pinjam</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="!listHistoryDocumentLend || (listHistoryDocumentLend && listHistoryDocumentLend.length===0)">
                        <tr>
                            <td colspan="7">{{'noDataFound'|translate}}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr *ngFor="let doc of listHistoryDocumentLend;let i =index;">
                            <td>{{i+1}}</td>
                            <td>{{doc.borrowerName}}</td>
                            <td></td>
                            <td>{{doc.reason}}</td>
                            <td>{{doc.borrowStartDate}}</td>
                            <td>{{doc.borrowEndDate}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</arms-view-modal>
<arms-view-modal #borrowModal [id]="'borrowModal'" [title]="'borrowRegistration'|translate"
                 [showButton]="{'save':true,'cancel':true,'close':false}"
                 (saveClick)="doSave($event)">
    <ul class="list-group" *ngIf="doc">
        <li class="list-group-item">
            <span class="badge">{{doc.idBox}}</span>
            {{'idBox'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{doc.idDocument}}</span>
            {{'idDoc'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{doc.documentNo}}</span>
            {{'documentNo'|translate}}
        </li>
        <li class="list-group-item">
            <span class="badge">{{doc.workingUnit}}</span>
            {{'workingUnit'|translate}}
        </li>
    </ul>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tanggal Mulai</label>
                <arms-datepicker #docStartDate (selectedDate)="doGetBoxSendingDate($event)"
                                 [id]="'docStartDate'"></arms-datepicker>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tanggal Akhir</label>
                <arms-datepicker #docEndDate (selectedDate)="doGetBoxSendingDate($event)"
                                 [id]="'docEndDate'"></arms-datepicker>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>{{'reason'|translate}}</label>
                <textarea class="form-control" id="reason"></textarea>
            </div>
        </div>
    </div>
</arms-view-modal>