<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="menuTab" [activeMenu]="menuId"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3><i class="fa fa-1x {{icon}}"></i> <span>{{menuId|translate}}</span></h3>
        </div>
        <div class="well">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>ID Box</th>
                                <th>Tanggal Mulai</th>
                                <th>Tanggal Akhir</th>
                                <th>Vendor</th>
                                <th>Select</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="!listBoxLendForApprove || (listBoxLendForApprove && listBoxLendForApprove.length===0)">
                            <tr>
                                <td colspan="6">{{'noDataFound'|translate}}</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr *ngFor="let box of listBoxLendForApprove;let i =index;">
                                <td>{{i+1}}</td>
                                <td>{{box.idBox}}</td>
                                <td>{{box.startDate}}</td>
                                <td>{{box.endDate}}</td>
                                <td>{{box.vendor}}</td>
                                <td>
                                    <input type="checkbox" (click)="doSelectForApproval(box)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="listBoxLendForApprove || (listBoxLendForApprove && listBoxLendForApprove.length>0)">
            <div class="pull-left">
                <arms-pagination
                        [totalPage]="19"></arms-pagination>
            </div>
            <div class="pull-right">
                <button class="btn btn-success btn-width-medium" (click)="doApprove()"><i class="fa fa-check"></i> {{'approve'|translate}}</button>
            </div>
        </div>
    </div>
</arms-module-container>