<div *ngIf="loading">
    <arms-spinner></arms-spinner>
</div>
<arms-module-container>
    <div sidebar>
        <arms-menu [isTabOpen]="3" [activeMenu]="'pencarianArsip'"></arms-menu>
    </div>
    <div content>
        <div class="page-header">
            <h3>{{'documentSearch'|translate}}</h3>
        </div>
        <div style="margin-bottom: 250px">
            <form [formGroup]="documentSearchFormGroup" style="margin-bottom: 20px">
                <div class="form-group form-group-sm">
                    <label for="idBox">{{'idDoc'|translate}}</label>
                    <input type="text" class="form-control" id="idBox" formControlName="idDoc">
                </div>
                <div class="form-group form-group-sm">
                    <label for="documentNo">{{'documentNo'|translate}}</label>
                    <input type="text" class="form-control" id="documentNo" formControlName="documentNo">
                </div>
                <div class="form-group form-group-sm">
                    <label for="documentName">{{'documentName'|translate}}</label>
                    <input type="text" class="form-control" id="documentName" formControlName="documentName">
                </div>
                <div class="form-group form-group-sm">
                    <label for="description">{{'description'|translate}}</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
                <div class="form-group form-group-sm">
                    <label for="keyword">{{'description'|translate}}</label>
                    <input type="text" class="form-control" id="keyword" formControlName="keyword">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary small-button btn-sm" (click)="doSearch()">
                            {{'search'|translate}}
                        </button>
                        <button type="button" class="btn btn-default small-button btn-sm" (click)="doReset()">
                            {{'reset'|translate}}
                        </button>
                    </div>
                </div>
            </form>
            <div class="well">
                <div style="height: 300px; overflow: auto;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>ID Dokumen</th>
                            <th>No Dokumen</th>
                            <th>Nama Dokumen</th>
                            <th>Deskripsi</th>
                            <th>Kata Kunci</th>
                            <th>ID Box</th>
                            <th>Status Pinjam</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="!listDocumentRegistrations || (listDocumentRegistrations && listDocumentRegistrations.length===0)">
                        <tr>
                            <td colspan="9">{{'noDataFound'|translate}}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr *ngFor="let doc of listDocumentRegistrations;let i =index;">
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-left">
                    <arms-pagination
                            *ngIf="listDocumentRegistrations || (listDocumentRegistrations && listDocumentRegistrations.length>0)"
                            [totalPage]="3"></arms-pagination>
                </div>
            </div>
        </div>
    </div>
</arms-module-container>

<arms-view-modal #viewModal [title]="'infoRegistration'|translate">
</arms-view-modal>
<arms-view-modal #borrowModal [title]="'borrowRegistration'|translate">
</arms-view-modal>