<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Records Management System</title>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        .loadingInfo {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 50%;
        }
    </style>
</head>
<body>
<arms-root>
    <div class="loadingInfo">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</arms-root>
</body>
</html>
