html, body {
    height: 100%;
    width: 100%;
    color: #5e5e5e !important;
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0px !important;
}

.page-header {
    margin: 25px 0 20px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle !important;
}

.small-button {
    width: 100px;
}

.medium-button {
    width: 150px;
}

.large-button {
    width: 200px;
}